# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
=======
.idea
*/venv/*
venv
*/__pycache__/*
/__pycache__/
.DS_Store
*.pyc
*.pyo
nav/
